@page
@model ProjectSWP392.Pages.AccountPage.ForgotPassword
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Pages/Shared/_Layout_copy.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
  body {
        background-image: url('/image/page_login.svg');
        background-repeat: no-repeat;
        /* Ngăn chặn lặp lại ảnh nền */
        background-size: cover;
        height: 97.8vh !important;
        margin: 0;
    }
</style>

<body style="background-color: #eee;">
<section class="p-4 mt-3" >
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="container">
            <div class="row gx-lg-5 align-items-center justify-content-end">
              
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card" style="    margin-top: 10rem;">
                        <div class="card-body py-5 px-md-5">
                            <form method="post" class="form-container">
                                <h5 style="   margin-bottom: 2rem;
    text-align: center;
    font-weight: 800;">Send mail</h5>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Email" class="form-control" placeholder="Email"/>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                
                                <button type="submit" class="btn btn-secondary" >Send</button>
                                <a asp-page="Register" class="btn btn-secondary">Register</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
@if (@TempData["Success"] != null)
{
    <text>
        <script>
            // Check for TempData value and show SweetAlert
            document.addEventListener('DOMContentLoaded', function () {
                 Swal.fire({
                    title: 'Success!',
                    text: 'ForgotPass successfully! Please check mail to receive new password!',
                    icon: 'success'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/AccountPage/Login'; 
                    }
                });
            });
        </script>
    </text>
}
@if (TempData["Error"] != null)
{
    <text>
        <script>
            // Check for TempData value and show SweetAlert
            document.addEventListener('DOMContentLoaded', function () {
                 Swal.fire({
                    title: 'Error!',
                    text: 'An unexpected error has occurred!!',
                    icon: 'error'
                })
            });
        </script>
    </text>
}