@page
@model ProjectSWP392.Pages.AdminPage.ConfirmOrder
@{
    ViewData["Title"] = "ConfirmOrder";
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="regist-page">
    <div class="container">
        @* <div class="row" style="margin-bottom:25px;">
            <div class="col-sm-12">
                @if (Model.Edit != null)
                {
                    <strong>
                        CategoryId: @Model.Edit.CategoryId
                    </strong>
                    <br>
                    <strong>
                        CategoryName: @Model.Edit.CategoryName
                    </strong>
                }
                else
                {
                    <p>Category not found.</p>
                }
            </div>
        </div> *@


        <form method="post">
            <div class="form-group">
                <input type="hidden" asp-for="Edit.OrderID" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success">Confirm</button>
            <a class="btn btn-primary" asp-page="/AdminPage/CategoryManagement">Back</a>
        </form>
    </div>
</div>

<style>
    .regist-page .container {
        max-width: 400px;
        margin: auto;
        margin-top: 50px;
    }

    .regist-page .form-container {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: auto;
    }
</style>